<%- include('partials/header') -%><%- include('partials/addBtn') -%>
<div class="container">
  <div class="profile">
      <div class="profile1">
          <div>
              <p>Welcome: <strong><%= user.userName %></strong></p>
              
          </div>
      </div>
  </div>
</div>

<div class="mt-5">
  <h2>Add a Memory</h2>
  <form action="/journals/createJournal" enctype="multipart/form-data" method="POST">
      <div class="mb-3">
          <label for="thoughts" class="form-label">How are you feeling today?</label>
          <textarea class="form-control" id="thoughts" name="thoughts"></textarea>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Updates</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
   
            
    <div class="mb-3">
      <label for="caption" class="form-label">Highlights of the Day</label>
      <textarea class="form-control" id="caption" name="caption"></textarea>
    </div>
    <div class="mb-3">
      <label for="imgUpload" class="form-label">Image</label>
      <input type="file" class="form-control" id="imageUpload" name="file">
    </div>
    <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
  </form>
</div>
</div>
<div class="col-6">
<ul class="row list-unstyled">
  <!--button to link to show - add edit or delete there or make the plus work so the add memory is not visible -->
<% for(var i=0; i<journals.length; i++) {%>
<li class="col-6 justify-content-between mt-5">
  <p>Share a picture of your moments today.</p>
  <a href="/journal/<%= journals[i]._id%>">
    <img class="img-fluid" src="<%= journals[i].image%>">
  </a>
</li>
<% } %>
</ul>
<div class="row justify-content-center mt-5">
<a class="btn btn-primary" href="/feed">Return to Feed</a>
<a class="btn btn-primary" href="/profile">My Profile</a>
</div>  
</div>  


<a href="/logout" class="col-3 btn btn-primary">Logout</a>
<%- include('partials/footer') -%>