<%- include('partials/header') -%>
<body class="bg-violet-300 w-full "> 

        <div class="form-title text-center">
          <h2 class="text-dark font-bold text-4xl">Profile Page</h2>
          <h4 class="text-left text-3xl font-bold m-8 p-8"></i>Hi <%= user.userName %> !</h4>
           
        </div>
            
              <form action="/journal/createJournal" enctype="multipart/form-data" method="POST" class="p-12 m-10 gap-4 flex flex-col justify-center bg-purple-300 rounded-2xl shadow-lg max-w-4xl  p-5 space-y-3 items-center ">
                <div class=" text-2xl text-white w-full">
                  <span class="text-purple-900 text-xl font-bold mb-10">Add a Post</span>
                  <div class="form group">
                    <label for="title" class="form-label text-2xl text-orange-900 mt-4">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                  </div>
                  <div class="form-group">
                      <label for="caption" class="form-label text-2xl text-orange-900">Share Your Story</label>
                      <textarea class="form-control bg-violet-400 w-100 h-40 " id="caption" name="caption"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="imgUpload" class="form-label text-2xl text-orange-900">Image</label>
                    <input type="file" class="form-control bg-red-300 w-full " id="imageUpload" name="file">
                  </div>
                </div>
                <div class=" flex flex-row mb-32">
                  <button class="bg-fuchsia-900 font-bold rounded-xl text-white px-5 py-2 justify-center items-center hover:bg-red-400 mt-4 mb-4 block">SUBMIT</button>
                </div>
      
              </form>
              
              <h3 class="text-violet-900 text-4Xl text-center font-bold mb-10">YOUR POSTS</h3>

              <main id="site-main">
                <div class="container">
                  <div class="box-nav d-flex-justify-between mb-10 text-center">
                    
                  </div>
                  <form action="/" method="POST">
                    <table class="table">
                      <thead class="thead-dark bg-purple-300 b-purple-900  text-xl">
                        <tr>
                          
                          
                          <th>Date </th>
                          <th>Email</th>
                          
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="hover:bg-fuchsia-300">
                          <td ><%= user.createdAt %></td>
                          <td><%= user.email %></td>
                          
                        </tr>
    
                      </tbody>
                    </table>
                  </form>
                </div>
              </main>

              <div class=" py-2 px-2 justify-center flex-row m-10 ">
                  <ul class="row list-unstyled">
                      <% for(var i=0; i<journals.length; i++) {%>
                          <li class="col-6 justify-content-between mt-5">
                              <a href="/journal/<%= journals[i]._id%>">
                                 <img class="img-fluid" src="<%= journals[i].image%>">
                              </a>
                          </li>
                      <% } %>
                  </ul>
          <div class=" flex flex-row mb-32 justify-content-center p-12">
                <button class="bg-fuchsia-900 font-bold rounded-xl text-white px-5 py-2 justify-center items-center hover:bg-red-400 mt-4 mb-4 block"><a href="/feed">Return to Feed</a></button>

          </div>
</body> 
